#chat_messages {
    margin: 0;
    height: 90%;
}

#chat_action {
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 56px;
    justify-content: space-between;
    //margin-bottom: $tabs-height;

    input {
        width: 100%;
    }

}

.sender{
  font-weight: bold;
  text-decoration: underline;
}
