/*#home {
  display: flex;
  flex-direction: column;
}*/

#map {
  margin-top: $navbar-md-height;
  height: 40%;
  width: 100%;
  position: fixed;
}

#home {
  position: absolute;
  top: 50%;
  width: 100%;
  //overflow-y: scroll;

  .fixed-content {
    margin-top: 0 !important;
  }

  .scroll-content {
    margin-top: 0 !important;
  }
}

/*#home * {
  margin-top: 0 !important;
}*/
