#map {
    //margin-top: $navbar-md-height;
    height: 50%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
}

#riddle {
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 100%;
    margin-bottom: $navbar-md-height;
}
