<ion-header id="header">
    <ion-navbar>
        <ion-title>
            Chat général
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content id="chat_messages" padding>
    <div *ngFor="let message of messages_received">
        <div class="message myMessage" *ngIf="message.iAmTheSender">
            <p>{{message.message}}</p>
        </div>

        <div class="message notMyMessage" *ngIf="!message.iAmTheSender">
            <p>{{message.sender}}</p>
            <p>{{message.message}}</p>
        </div>
    </div>
</ion-content>

<div id="chat_action">
    <input id="input" type="text" placeholder="Message" [(ngModel)]="message" />
    <button (click)="sendMessage()" ion-button>Envoyer</button>
</div>
