<ion-header id="header">
    <ion-navbar>
        <ion-title>
            Chat général
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content id="chat_messages" padding>
  <div *ngFor="let m of messages_received">
    <p *ngIf="!m.isMineMessage"><span class="sender">{{m.sender}}</span><span> : {{m.message}}</span></p>
    <p *ngIf="m.isMineMessage" class ="mineMessage"><span class="sender">Moi</span><span> : {{m.message}}</span></p>
  </div>
</ion-content>

<div id="chat_action">
    <ion-input id="input" type="text" placeholder="Message" [(ngModel)]="message"></ion-input>
    <button (click)="sendMessage()" ion-button>Envoyer</button>
</div>
